################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.history
/examples/node_modules
/.vs
/examples/build
